<!DOCTYPE html>
<html>
    <head>
        <title>Tabela do usuario</title>
        <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f2f2f2;
        }
        
        h1 {
            text-align: center;
            margin: 20px 0;
        }
        
        h2 {
            margin-top: 20px;
        }
        
        table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 20px;
        }
        
        table, th, td {
            border: 1px solid #ccc;
        }
        
        th, td {
            padding: 10px;
            text-align: left;
        }
        
        thead {
            background-color: #f9f9f9;
        }
        
        /*seleciona as linhas pares da tabela*/
        tr:nth-child(even) {
            background-color: #e9e9e9;
        }
        
        a {
            text-decoration: none;
        }
        
        button {
            padding: 10px 20px;
            font-size: 14px;
            border: none;
            background-color: #e94081;
            color: white;
            cursor: pointer;
            margin-top: 10px;
            
        }
        
        button:hover {
            background-color: #e7bee2;
            color: black;
            transition: 0.5s;
        }
        
        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
        }
        </style>
    </head>
    <body>
<div class="container">
        <h1>Tabela de produtos do usuário: <%= username %></h1>
    
        <table>
            <thead>
                <tr>
                    <td>Id</td>
                    <td>Nome</td>
                    <td>Preço</td>
                    <td>Categoria</td>
                    <td>Descrição</td>
                </tr>
            </thead>
            <tbody>
                <% for (let i = 0; i < products.length; i++) {%>
                   <tr>
                        <td>
                            <%= products[i]._id %> 
                        </td>
                        <td>
                            <%= products[i].name %> 
                        </td>
                        <td>
                            <%= products[i].price %> 
                        </td>
                        <td>
                            <%= products[i].categoria %> 
                        </td>
                        <td>
                            <%= products[i].descricao %> 
                        </td>
                   </tr> 
                <% } %> 
            </tbody>
        </table>
        <a href="http://localhost:8080/"><button>Página inicial</button></a> <br>

        <a href="/prod/new"><button>Cadastrar produto</button></a> 
    </div>
    </body>
</html>